h1{
	color:purple;
}
h1,h2{
	text-align:center;
}
#image{
	margin-left: 375px;
}
.shows{
	color:red;
}
p{
	background-color:blue;
	height:125px;
	width:200px;
	padding:100px;
	border:50px;
	margin:0 auto;
	text-align:center;
}
.tour-dates{
	background-color:brown;
	height:40px;
	width:200px;
	padding:50px;
	text-align:center;
	margin:0 auto;
}