section {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

figure {
  margin: 0;
}

figure img {
  width: 100%;
  height: 500px;
  display: none;
}

figure img.selected {
  display: block;
}

figcaption {
  font-size: 1.5em;
}

nav button {
  padding: 10px 20px;
  font-size: 2.5em;
}