.red-box {
  height: 130px;
  width: 49.8%;
  background-color: red;
  display:inline-block;
  margin-right:.1%;
}

.green-box {
  height: 130px;
  width: 49.8%;
  background-color: black;
  display:inline-block;
  margin:0 auto;
  margin-right:.1%;
}

.eighties{
	color:green;
}
.non-eighties{
	color:blue;
}

.container{
	width:100%;
	line-height:0;
}
span{
	font-style:italic;
}