h1{
	color:purple;
}

ul.sandwich-ingredients > li:first-child{
	background-color:blue;
}

ul.front-end-tech > li:nth-child(2){
	background-color:red;
}

h1:hover{
	background-color:blue;
	text-decoration: underline;
	color:white;
	cursor:crosshair;
}