header {
  background-color: red;
}

header h2 {
  color: black;
  padding-left: 20px;
  display: inline-block;
}

nav {
  text-align: right;
}

nav a {
  color: #fff;
  padding: 1.5em 0;
  display: inline-block;
  text-decoration:none;
  padding-right:10px;
}

nav a:hover{
	color:black;
}

.logo {
  display: relative;
}

i {
  display: none;
  position: absolute;
  right: 25px;
  padding: 24px 0;
  cursor: pointer;
}

i span {
  width: 16px;
  height: 3px;
  background-color: white;
  display: block;
  margin: 3px 0;
}

@media handheld, only screen and (max-width: 767px) {
  i {
    display: inline-block;
  }

  nav {
    text-align: center;
    display: none;
  }

  nav.open {
    display: inherit;
  }

  nav a {
    display: block;
  }
}